@use "../../variables" as variables;

$font-family: "Poppins", system-ui, sans-serif;

.house-management {
  font-family: $font-family;
  padding: 1.5rem;

  .ant-card {
    background-color: variables.$light-background;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 39, 102, 0.1);
  }

  .ant-card-head-title {
    font-size: variables.$font-size-xl;
    color: variables.$primary;
    font-weight: 600;
  }

  .search-input {
    width: 250px;
    font-size: variables.$font-size-base;
  }

  .ant-table {
    background-color: variables.$quaternary;
  }

  .ant-btn-primary {
    background-color: variables.$secondary;
    border-color: variables.$secondary;
    font-weight: 500;
  }

  .ant-btn-dangerous {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
  }

  .ant-form-item {
    margin-bottom: 1rem;
  }

  input {
    font-family: variables.$font-family;
    font-size: variables.$font-size-base;
  }
}
