@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$font-family: "Poppins", system-ui, sans-serif;

// ============================
// Main COLORS
// ============================
$primary: #002766;       // Deep royal blue
$secondary: #165dbe;     // Vivid sky blue
$tertiary: #66aaff;      // Light soft blue
$quaternary:white;
$quinary:black;
//=======================
$success: #28a745;
$danger: #dc3545;
// ============================
// COLORS - LIGHT MODE
// ============================
$light-text: #000252;
$light-text-secondary: #2c5aa0;
$light-background: #E3EEFF;
$light-background-secondary: #f8fbff;
$light-background-tertiary: #d1e3ff;
$light-background-quaternary: rgba(22, 93, 190, 0.2);
// ============================
// COLORS - DARK MODE
// ============================
$dark-text: #E3EEFF;
$dark-text-secondary: #b8d4ff;
$dark-background: #0a0d2e;
$dark-background-secondary: #1a1f4a;
$dark-background-tertiary:#2a3566;
// ============================
// FONT AND SPACING SETTINGS
// ============================

$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-base: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;

// ============================
// RESPONSIVE BREAKPOINTS
// ============================

$breakpoint-xs: 320px; // Extra small (Mobile)
$breakpoint-sm: 576px; // Small (Mobile, Landscape, Small Tablets)
$breakpoint-md: 768px; // Medium (Tablets)
$breakpoint-base: 1024px; // Medium (Desktops, Laptops)
$breakpoint-lg: 1200px; // Large (Desktops, Laptops)
$breakpoint-xl: 1440px; // Extra Large (Large Desktops, Wide Screens)
$breakpoint-xxl: 1800px; // Ultra Large (Ultra-wide Desktops)
$breakpoint-4k: 2560px; // 4K Screens (Ultra-HD)