@use '../../variables' as variables; // Adjust path accordingly

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-light {
    background-color: variables.$light-background-tertiary;
}

.light-blue-bg {
    background-color: #eaf2fd;
}

.hero-section {
    position: relative;
    overflow: hidden;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: white;
}

.smoke-container {
    position: absolute;
    inset: 0;
    // pointer-events: none;
    z-index: 1;
}

.section-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: variables.$danger;
    // color: variables.$secondary;

}

// .section-title::after {
//     content: "";
//     position: absolute;
//     bottom: -0.625rem; // -10px
//     left: 50%;
//     transform: translateX(-50%);
//     width: 10rem; // 80px
//     height: 0.1875rem; // 3px
//     background-color: variables.$secondary;
// }


.custom-dark-icon {
    filter: invert(100%) brightness(30%);
}

.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.feature-icon {
    font-size: 2.5rem;
    color: variables.$danger;
    margin-bottom: 15px;
}

.contact-section {
    padding: 80px 0;
}

footer {
    background-color: #282828; // Consider adding this to dark palette if reused
    color: white;
    padding: 30px 0;
}

.grid-item {
    cursor: pointer;
    margin-bottom: 15px;
}

.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.modal-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.danger-badge {
    background-color: variables.$danger;
}