@use "../../variables" as variables;

.manager-container {
  display: flex;
  gap: 1rem;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;

  .main-content {
    margin-left: 15rem;
    width: calc(100% - 15rem);
    min-height: 100vh;
    background-color: variables.$light-background;
    color: variables.$light-text;
    padding: 1.5rem;

    display: flex; // Enable flex layout for inner content
    flex-direction: column; // Stack content vertically
    align-items: center; // Center content horizontally

    overflow-y: auto;

    .main-inner {
      width: 100%;
      max-width: 64rem; // e.g., 1024px
      flex-grow: 1; // Allow to stretch if needed
      border: 1px red solid;
    }
  }

  .sidebar {
    width: 15rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: variables.$dark-background-secondary;
    color: variables.$dark-text;
    overflow-y: auto;
    z-index: 100;
    font-size: variables.$font-size-sm; // Assume this equals 1.125rem

    h1.sidebar-logo {
      font-size: 1.5rem; // Slightly larger than base
      margin-bottom: 1.875rem; // 30px
      color: variables.$quaternary;
      font-weight: 700;
      text-align: center;
    }

    .sidebar-section {
      margin-bottom: 1.25rem; // 20px
    }

    a {
      color: variables.$dark-text-secondary;
      text-decoration: none;
      margin: 0.5rem 0; // 8px 0
      padding: 0.75rem 1.125rem; // 12px 18px
      border-radius: 0.75rem; // 12px
      transition: all 0.3s;
      display: flex;
      align-items: center;
      font-weight: 600;

      &:hover,
      &.active {
        background-color: variables.$dark-background-tertiary;
        color: variables.$dark-text;
      }
    }

    .icon {
      margin-right: 0.75rem; // 12px
      font-size: 1.4rem;
    }
  }
}
